---
---

<div class="mx-auto px-4 py-8 flex flex-col justify-between md:flex-row gap-4 mt-8">
    <div>
        <!-- social media -->
        <div>
        </div>
    </div>
    <div class="flex justify-around space-x-32">
        <!-- links -->
        <div class="flex flex-col">
            <a>home</a>
            <a>pricing</a>
            <a>products</a>
            <a>about</a>
        </div>
        <div class="flex flex-col">
            <a>careers</a>
            <a>community</a>
            <a>privacy policy</a>
        </div>
    </div>
    <div class="flex flex-col">
        <!-- etc -->
        <div class="md:block text-sm">
            copyright &copy; 2000, all rights reserved
        </div>
    </div>
</div>
