---
---

<div
    class="flex flex-col-reverse md:flex-row px-4"
>
    <div class="md:w-1/2 space-y-12">
        <h1 class="font-bold text-center text-4xl md:text-5xl md:text-left">
            bring everyone together to build better products
        </h1>
        <p class="text-center md:text-left text-sky-900">
            makes it simple for softwre teams to plan day-to-day tasks
            while keeping the larger team goals in view
        </p>
        <div class="flex justify-center md:justify-start">
            <a
                class="text-white bg-orange-700 px-6 py-2 rounded-full hover:bg-orange-600 cursor-pointer"
            >
                Get Started
            </a>
        </div>
    </div>
    <div class="md:w-1/2">
        <!-- image -->
        <img src="/public/landing-page-1/illustration-intro.svg" />
    </div>
</div>
