---
import TestimonialsItem from "./TestimonialsItem.astro"
---

<div class="mt-16">
    <h2 class="font-bold text-center text-4xl">
        what's different about manage?
    </h2>
    <div class="flex flex-col md:flex-row mt-16 gap-4">
        <TestimonialsItem personName="anisha li" personImg="/public/landing-page-1/avatar-anisha.png">
            manage has supercharged our team's workflow. the ability to maintian visibiliity on larger milestones at all times keeps everyone motivated.
        </TestimonialsItem>
        <TestimonialsItem personName="richard watts" personImg="/public/landing-page-1/avatar-richard.png">
            manage has supercharged our team's workflow. the ability to maintian visibiliity on larger milestones at all times keeps everyone motivated.
        </TestimonialsItem>
        <TestimonialsItem personName="ali bravo" personImg="/public/landing-page-1/avatar-ali.png">
            manage has supercharged our team's workflow. the ability to maintian visibiliity on larger milestones at all times keeps everyone motivated.
        </TestimonialsItem>
    </div>
</div>
