---
---

<div class="flex gap-8 border p-6 text-center bg-white">
    <div>
        <h4>income</h4>
        <div class="text-green-700 font-semibold">
            + $ 543.21
        </div>
    </div>
    <div class="inline-block h-12 min-h-12 w-0.5 self-stretch bg-neutral-100"></div>
    <div>
        <h4>expense</h4>
        <div class="text-red-700 font-semibold">
            - $ 543.21
        </div>
    </div>
</div>
