---
import Main from "../layouts/Main.astro";
import Hero from "../components/landing-page-1/Hero.astro";
import Features from "../components/landing-page-1/Features.astro"
import Testimonials from "../components/landing-page-1/Testimonials.astro";
import Footer from "../components/landing-page-1/Footer.astro";
---

<Main title="home">
    <!-- navigation -->
    <nav></nav>
    <section id="hero">
        <Hero />
    </section>
    <section id="features">
        <Features />
    </section>
    <section id="testimonials">
        <Testimonials />
    </section>
    <footer class="bg-gray-900 text-gray-200">
        <Footer />
    </footer>
</Main>
