---
import Main from "../layouts/Main.astro";
import Hero from "../components/landing-page-1/Hero.astro";
import Features from "../components/landing-page-1/Features.astro"
import Testimonials from "../components/landing-page-1/Testimonials.astro";
import Footer from "../components/landing-page-1/Footer.astro";
---

<Main idKey="container" title="home" classList="">
    <!-- navigation -->
    <nav class="container relative p-4 mx-auto">
        <div class="flex justify-between items-center">
            <div>
                <img src="/public/landing-page-1/logo.svg" />
            </div>
            <div class="hidden md:flex gap-4 text-sky-900">
                <a class="cursor-pointer">pricing</a>
                <a class="cursor-pointer">product</a>
                <a class="cursor-pointer">careers</a>
                <a class="cursor-pointer">community</a>
                <a class="cursor-pointer">about us</a>
                <div>
                    <a class="bg-orange-700 text-white p-2 rounded-full cursor-pointer">
                        Get Started
                    </a>
                </div>
                
            </div>
            <!-- hamburger cursor-pointer block md:hidden focus:outline-none -->
            <button id="menu-btn" class="hamburger border">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
            <div class="md:hidden">
                <div 
                    id="menu" 
                    class="absolute hidden"
                >
                    <a>pricing</a>
                    <a>product</a>
                    <a>careers</a>
                    <a>community</a>
                    <a>about us</a>
                </div>
            </div>
        </div>
    </nav>
    <section id="hero">
        <Hero />
    </section>
    <section id="features">
        <Features />
    </section>
    <section id="testimonials">
        <Testimonials />
    </section>
    <footer class="bg-gray-900 text-gray-200">
        <Footer />
    </footer>
</Main>

<script>
    const btn = document.getElementById('menu-btn')
    const mnu = document.getElementById('menu')

    btn.addEventListener('click', () => {
        btn.classList.toggle('open')
        mnu.classList.toggle('flex')
        mnu.classList.toggle('hidden')
    })
</script>

<style>
    .hamburger {
        width: 24px;
        height: 24px;
        color: #000;
        transition: all 0.25s;
        position: relative;
    }

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom, {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 2px;
        color: #000;
        background: #000;
        transform: rotate(0);
        transition: all 0.5s;
    }

    .hamburger-middle {
        transform: translateY(7px);
    }

    .hamburger-bottom {
        transform: translateY(14px);
    }

    .open {
        transform: rotate(90deg);
        transform: translateY(0px);
    }

    .open
    .hamburger-top {
        transform: rotate(45deg) translateY(6px) translate(6px);
    }

    .open
    .hamburger-middle {
        display: none;
    }

    .open
    .hamburger-bottom {
        transform: rotate(-45deg) translateY(6px) translate(-6px);
    }
</style>
