---
interface Props {
    idKey: string,
    title: string,
    classList: string
}

const { idKey, classList, title } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <title>{ title } </title>
    </head>
    <body>
        <main class={ classList } id={ idKey }>
            <slot />
        </main>
    </body>
</html>
